server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/pr_reviewer_db
    username: noleg
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
